<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../assets/css/main.css">
	<title></title>
	</style>
</head>
<body>
	<article>
		<h2>Astro</h2>
		<% posts.forEach( post => { %>
			<section class="post">
				<%- post.conteudo %>
			</section>
		<% }) %>
		<h3>Respostas do quiz</h3>
		<% questions.forEach((question, index) => { %>
			<section class="question">
				<p><%= index+1 + " - " + question.question %></p>
				<ol style="list-style-type: lower-latin">
					<% question.options.forEach( option => { %>
						<li><%= option %></li>
					<% }) %>
				</ol>
				<span>Resposta:</span>
				<span><%= question.answer %></span>
			</section>
		<% }) %>
	</article>
</body>
</html>