<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../assets/css/main.css">
	<title></title>
	<style type="text/css">
		@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
		
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}

		body {
			font-family: 'Roboto', sans-serif;
		}

		.post {
			margin: 25px 0px 45px 0px;
		}

		article  {
			margin: 15px 40px;
		} 

		article h3 {
			margin: 15px 0 15px 0;
		}

		article > h1 {
			margin-bottom: 75px;
			font-size: 28px;
		}

		article > h2 {
			margin-bottom: 30px;
			font-size: 22px;
		}

        .post ol {
			margin: 9px 0px;
		}

		section.post > p {
			margin: 7px 0px 7px 0px;
			font-size: 14px;
			text-align: justify;
		}

		section.post img {
			max-width: 80%;
			object-fit: contain;
		}

		section.post > h1 {
			font-size: 20px;
		}

		section.post > h2  {
			font-size: 16.5px;
			margin-top: 20px;
		}

	     section.post ol > li {
			font-size: 14px;
		}

		 section.post ol > li {
			margin-left: 18px;
		}

	</style>
</head>
<body>
	<article>
		<h1>Astro</h1>
		<h2>Planetas</h2>
		<% posts.forEach( post => { %>
			<section class="post">
				<%- post.conteudo %>
			</section>
		<% }) %>
	</article>
</body>
</html>